<header id="header">
    <div class="d-flex flex-column">
        <div class="profile">
            <a href="/usuario">
                <img src="/images/personaPerfil/{{foto}}" style="width:150px !important; height:175px !important" alt="" class="img-fluid rounded-circle">
            </a>
            <h1 class="text-light">{{nombre}}</h1>
            <input hidden style="display: none;" name="idp" id="idp" value="{{idp}}" readonly />

        </div>
        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a href="/usuario" class="nav-link scrollto"><i class="bi bi-house"></i> <span> Regresar a incio
                            de usuario
                        </span></a>
                <li><a href="/cerrar_sesion" class="nav-link scrollto"><i class="bi bi-arrow-right-square-fill"></i>
                        <span>Cerra sesion</span></a>
            </ul>
        </nav>
    </div>
</header><!-- End Header -->