<header id="header">

    <div class="d-flex flex-column">

        <div class="profile">
            <a href="/usuario">
                <img src="images/personaPerfil/{{usuario.foto}}" alt="" class="img-fluid rounded-circle">
            </a>
            <h1 class="text-light"><a href="/"></a></h1>

        </div>
        <h3>{{nombre}}</h3>
        <nav id="navbar" class="nav-menu navbar">

            <ul>
                <li><a href="/user_info" class="nav-link scrollto"><i class="bi bi-building"></i> <span>Agregar
                            instancia</span></a>
                <li><a href="/cerrar_sesion" class="nav-link scrollto"><i class="bi bi-camera-video-fill"></i>
                        <span>Cerra sesion</span></a>

            </ul>
        </nav>
    </div>
</header><!-- End Header -->