<header id="header">

    <div class="d-flex flex-column">

        <div class="profile">
            <a href="/">
                <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
            </a>
            <h1 class="text-light"><a>Vision secure</a></h1>

        </div>
        <h3>Usuario:</h3>
        <nav id="navbar" class="nav-menu navbar">

            <ul>
                <li><a href="/register" class="nav-link scrollto active"><i class="bi bi-person-plus-fill"></i>
                        <span>Register</span></a>
                </li>
                <li><a href="/login" class="nav-link scrollto"><i class="bi bi-person-circle"></i> <span>Login</span></a></li>

                <li><a href="#" class="nav-link scrollto"><i class="bi bi-building"></i> <span>Agregar
                            instancia</span></a>
                </li>
                <li><a href="#" class="nav-link scrollto"><i class="bi bi-camera-video-fill"></i> <span>Agregar
                            camara</span></a>
            </ul>
        </nav>
    </div>
</header><!-- End Header -->