{{> Principal/headerI}}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>Vision artificial</h1>
    <p>Brindamos <span class="typed" data-typed-items="Seguridad, Mayor confort, Mas autonomia"></span></p>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div style="text-align: justify;" class="section-title">
        <h2>¿Qué es Secure Vision?</h2>
        <p>Secure vision es una ampliación web orientada a la seguridad, como principal fin está el de controlar
          espacios determinados con la ayuda de un modelo basado en inteligencia artificial para detectar rostros,
          automatizando así el control de las personas que circulen en el ambiente de interes.</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="assets/img/reconocimiento-facial-2.gif" class="img-fluid" alt="">
        </div>
        <div style="text-align: justify;" class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>¿Reconocimiento facial?</h3>
          <p class="font-italic">
            El procedimiento de reconocimiento facial tan sólo necesita de un dispositivo cualquiera que disponga de
            tecnología fotográfica digital, cámara, para generar y obtener las imágenes y datos necesarios para crear y
            registrar el patrón biométrico facial de la persona a identificar.
          </p>
          <p>
            A diferencia de otras soluciones de identificación como las contraseñas, verificación por email, selfies o
            imágenes, o la identificación con huella, la identificación biométrica facial utiliza patrones matemáticos
            únicos y dinámicos de la persona que convierten este sistema en uno de los más seguros y eficaces.
          </p>
          <p>
            El objetivo del reconocimiento facial es, desde la imagen entrante, encontrar una serie de datos del mismo
            rostro en un conjunto de imágenes de entrenamiento en una base de datos. La gran dificultad reside en lograr
            que este proceso se realice en tiempo real, algo que no está al alcance de todos los proveedores de software
            de verificación de identidad.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Facts Section ======= -->
  <section id="facts" class="facts">
    <div class="container">

      <div class="section-title" style="text-align: justify;">
        <h2>CASOS DE USO</h2>
        <p>El uso del reconocimiento facial se centra en la verificación o autenticación de rostros y, con ello, de
          personas. Esta tecnología se utiliza, por ejemplo, en situaciones como:</p>
      </div>

      <div class="row no-gutters" style="text-align: justify;">

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
          <div class="count-box">
            <i class="bi bi-person-check-fill"></i>
            <!--<span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>-->
            <p><strong>Segundo factor de autenticación </strong> para añadir un extra de seguridad, en cualquier proceso
              de log-in (inicio de sesión).</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
          <div class="count-box">
            <i class="bi bi-eye-fill"></i>
            <!--<span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>-->
            <p><strong>Acceso a una aplicación </strong> móvil sin necesidad de contraseña.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
          <div class="count-box">
            <i class="bi bi-cloud-check-fill"></i>
            <!--<span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>-->
            <p><strong>Acceso a servicios online </strong> previamente contratados (inicio de sesión en plataformas
              online, por ejemplo.).</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
          <div class="count-box">
            <i class="bi bi-shield-fill"></i>
            <!--<span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>-->
            <p><strong>Acceso a un recinto </strong> (oficinas, eventos, instalaciones de cualquier tipo…).</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
          <div class="count-box">
            <i class="bi bi-cart-check-fill"></i>
            <!--<span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>-->
            <p><strong>Método de pago, </strong> tanto en tiendas físicas como online.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
          <div class="count-box">
            <i class="bi bi-unlock-fill"></i>
            <!--<span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>-->
            <p><strong>Acceso a un dispositivo bloqueado. </strong> </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
          <div class="count-box">
            <i class="bi bi-binoculars-fill"></i>
            <!--<span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>-->
            <p><strong>Check-in en servicios turísticos </strong> (Aeropuertos, hoteles…).</p>
          </div>
        </div>




      </div>

    </div>
  </section><!-- End Facts Section -->



  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container" style="text-align: justify;">

      <div class="section-title">
        <h2>FUNCIONAMIENTO DEL RECONOCIMIENTO FACIAL</h2>
        <p>Al preguntar para qué sirve el reconocimiento facial,
          se considera que es uno de los tres mejores métodos para
          el reconocimiento biométrico y la identificación de personas.
          El trabajo se realiza a través de la definición de las características
          individuales de la fisiología o anatomía humana.</p>
        <p>
          Es una de las tecnologías de más rápido desarrollo.
          Se espera que la facturación de este segmento de la industria sea de 7,7 mil millones de dólares para 2022.
          Esto se debe a que el reconocimiento facial puede ser ampliamente aplicado en el comercio y los sistemas en sí
          son relativamente fáciles de configurar. Se pueden usar para muchos procesos,
          desde observar a las personas hasta resolver problemas de marketing.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <div class="resume-item pb-0">
            <h4>DETECCIÓN DE LA CARA</h4>
            <p><em>Cuando el sistema de reconocimiento facial funciona en conjunto con el
                sistema de videovigilancia, el software escanea la imagen tomada de la cámara con el objetivo de
                encontrar las caras y hacer un conjunto de imagen. Una vez que se ha encontrado una imagen de una cara o
                un objeto en forma de cabeza, esta información se envía a continuación para su procesamiento. El sistema
                luego evalúa la posición de la cabeza, su orientación y tamaño. Por lo general,
                la cara debe girarse al menos 35 grados en la dirección de la cámara para que pueda detectarla.</em>
            </p>
          </div>
          <div class="resume-item pb-1">
            <h4>ALINEACIÓN DE LA CARA</h4>
            <p><em>La imagen de la cara capturada se escala y se gira para que pueda registrarse y combinarse con las imágenes de la base. Esto se llama normalización. Después de eso, el software lee la geometría y hace seguimiento de la cara, identificando factores clave como la distancia entre los ojos, el grosor de los labios o la distancia entre la barbilla y la frente entre muchos otros. Algunos sistemas avanzados de reconocimiento facial utilizan cientos de estos factores, por ejemplo el subespacio facial. El resultado de este procedimiento conduce a la generación de la llamada «firma facial».</em>
            </p>
          </div>
           <div class="resume-item pb-1">
            <h4>EXTRACCIÓN DE CARACTERÍSTICAS</h4>
            <p><em>Después de formar una «firma facial», se debe presentar como un código único. Esto facilita la comparación computacional de los datos 
              faciales recién recuperados con los almacenados anteriormente en la base de datos.</em>
            </p>
          </div>
        <div class="resume-item pb-1">
            <h4>RECONOCIMIENTO</h4>
            <p><em>Esta es la etapa final en la que los datos obtenidos se comparan con los que ya están en la base de datos. Si la imagen coincide con una de las imágenes que están en ella, el software devuelve los detalles de la cara asignada y lo notifica al usuario final.</em>
            </p>
          </div>

    </div>
  </section><!-- End Resume Section -->



  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>Esta aplicación contara con varios servicios los cuales son:</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><i class="bi bi-person-plus"></i></div>
          <h4 class="title"><a href="">Registro de usuarios nuevos</a></h4>
          <p class="description"></p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-person"></i></div>
          <h4 class="title"><a href="">Inicio de sesión</a></h4>
          <p class="description"></p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-building"></i></div>
          <h4 class="title"><a href="">Registro de instancias a controlar</a></h4>
          <p class="description"></p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bi bi-camera-video-fill"></i></div>
          <h4 class="title"><a href="">Registro de cámaras</a></h4>
          <p class="description"></p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="bi bi-person-check"></i></div>
          <h4 class="title"><a href="">Detección de personas autorizadas y extrañas</a></h4>
          <p class="description"></p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
          <div class="icon"><i class="bi bi-bell"></i></div>
          <h4 class="title"><a href="">Notificación al usuario sobre amenazas</a></h4>
          <p class="description"></p>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Colaboradores:</h2>
        <p></p>
      </div>

      <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Hardware is what you can kick, and software what you can curse.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Jesus Ledesma</h3>
              <h4>Ceo &amp; Lider del proyecto</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Life would be much simpler you could take a look at the source code
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Daniel Novillo</h3>
              <h4>Designer &amp; Modelador del sistema</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                At the systems engineer home, computer full of viruses
              </p>
              <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Manuel Vicente</h3>
              <h4>Desarrollador</h4>
            </div>
          </div><!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Somos una empresa Lojana, ubiquenos: </p>
      </div>

      <div class="row" data-aos="fade-in">

        <div class="col-md-8 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Dirección:</h4>
              <p>San Cayetano bajo, Loja-Ecuador</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>secureVIA14@gmail.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p></p>
            </div>

            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1824.9263889164736!2d-79.19585967189381!3d-3.9807352789071526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sec!4v1615950371890!5m2!1ses-419!2sec"
              frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End Contact Section -->

</main>


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>