{{> Principal/headerU}}
<main id="main">
    <div class="container"
        style=" position: fixed;top: 0;bottom: 0; background-image: url(assets/img/fondosform/5.gif) ;background-size: 25%;">
        <div class="container col-md-6" style="background-color: aliceblue ;border: ridge;">

            <center>
                <form id="formulario" method="POST" action="/">
                    <div class="bg-dark" >
                        <h1 class="text-light">Crear cuenta</h1>
                    </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input type="text" class="form-control" id="nombreU" name="nombreU" aria-describedby="nameHelp"
                            placeholder="Nombre del usuario" required>
                        <small id="nameHelp" class="form-text text-muted">Escriba su nombre.</small>
                    </div>
                   
                      <div class="form-group">
                        <label for="exampleInputEmail1">Apellido</label>
                        <input type="text" class="form-control" id="apellidoU" name="apellidoU" aria-describedby="apeHelp"
                            placeholder="Apellido del usuario" required>
                        <small id="apeHelp" class="form-text text-muted">Escriba su apellido.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo electronico </label>
                        <input type="email" class="form-control" id="correo" name="correo" aria-describedby="emailHelp"
                            placeholder="Ingrese el correo electronico personal" required>
                        <small id="emailHelp" class="form-text text-muted">Ingrese el correo electronico
                            personal.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Clave </label>
                        <input type="password" class="form-control" name="clave" id="exampleInputPassword1"
                            placeholder="Contrase単a" required>
                    </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Vuelve a ingresar tu contrase単a </label>
                        <input type="password" class="form-control" name="clave" id="exampleInputPassword1"
                            placeholder="Comporbacion de contrase単a" required>
                    </div>

                    <button type="submit" style="margin: 3px" class="btn btn-success">Crear</button>
                    <a href="/" style="margin: 3px" class="btn btn-danger">Volver al inicio</a>
                    <p></p>
                    <a href="/login" style="margin: 3px" class="btn btn-dark">多Ya tienes una cuenta?</a>

                </form>
            </center>
        </div>

    </div>
</main>